
@{
    ViewBag.Title = "Education";
}

<h2>Educational Status</h2>
<br>

<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 2px solid black;
    }
</style>

<table>
    <tr>
        <td><strong>DEGREE</strong></td>
        <td><strong>YEAR</strong></td>
        <td><strong>INSTITUTE</strong></td>
    </tr>
    <tr>
        <td>BSC</td>
        <td>Running</td>
        <td>American International University - Bangladesh (AIUB)</td>
    </tr>
    <tr>
        <td>HSC</td>
        <td>2019</td>
        <td>Mohammadpur Government College</td>
    </tr>
    <tr>
        <td>SSC</td>
        <td>2017</td>
        <td>Barishal Zilla School</td>
    </tr>
</table>
<br>
<a href="/Home/indexx">Back to Profile</a>


