
@{
    ViewBag.Title = "Personal";
}

<h2>Personal Details</h2>
<br />

<table>
    <tr>
        <td><strong>NAME</strong></td>
        <td>:</td>
        <td>AMINUL ISLAM AMIN</td>
    </tr>
    <tr>
        <td><strong>FATHER NAME</strong></td>
        <td>:</td>
        <td>ABUL KALAM AZAD</td>
    </tr>
    <tr>
        <td><strong>MOTHER NAME</strong></td>
        <td>:</td>
        <td>KHADIZA AKTER</td>
    </tr>
</table>
<br />
<a href="/Home/indexx">Back to Profile</a>

