
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>
<br />
<p><strong>1.</strong> <a href="https://www.google.com/">Google</a></p>
<p><strong>2.</strong> <a href="https://www.youtube.com/">Youtube</a></p>
<br />
<a href="/Home/indexx">Back to Profile</a>


